<div class="container-fluid welcome">
  <h1>Bienvenido al Gestor de CRUDs de Sintad</h1>
  <p>Manejamos las siguientes secciones para una gestión eficiente:</p>
  <div class="content-container">
    <ul class="section-list mt-4">
      <li class="section-item mb-4">
        <div class="section-info">
          <span class="section-title">Entidades</span>
          <p>Administre las entidades de su organización.</p>
          <p>Las entidades incluyen empresas, organizaciones y más.</p>
        </div>
      </li>
      <li class="section-item mb-4">
        <div class="section-info">
          <span class="section-title">Tipo de Contribuyente</span>
          <p>Gestione los tipos de contribuyentes.</p>
          <p>Incluye personas natural, jurídicas, y otras categorías.</p>
        </div>
      </li>
      <li class="section-item">
        <div class="section-info">
          <span class="section-title">Tipo de Documento</span>
          <p>Controle los tipos de documentos.</p>
          <p>Documentos como partida de nacimiento, ruc, y dni son gestionados aquí.</p>
        </div>
      </li>
    </ul>
    <div class="distribucion-container d-flex justify-content-end">
      <img src="assets/distribucion.png" alt="Logo de la empresa" class="distribucion-logo">
    </div>
  </div>
</div>